<section class="w-full">
  <br />
  <br />
  <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Latest News</h5>
  <br />

  <div class="grid grid-cols-3 gap-2 items-stretch">

    {{#each news}}
    <div class="relative flex-col w-full mx-2 my-2 p-6 bg-white rounded-lg border border-gray-200 shadow-md">
      <div class="">
          <h6>{{prettifyDate createdAt}}</h6>
        <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">{{this.headline}}</h5>
        <p class="mb-3 text-sm text-gray-500 whitespace-normal pb-16">{{this.content}}</p>
        {{#if this.imageUrl}}
        <a href="{{this.imageUrl}}"
          class="absolute bottom-6 left-6 inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300">
          Download
          <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd"
              d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
              clip-rule="evenodd"></path>
          </svg>
        </a>
        {{/if}}
      </div>
    </div>
    {{/each}}
</section>




            <br>
            <br>
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">Test History</h5>
            <br>

<form action="/admin" method="get">

    <div class="space-y-1">
              <br>
              <label for="group" class="block text-sm font-medium text-neutral-600">Group</label>

              <select class="form-select appearance-none
      block
      w-full
      px-5
      py-3
      text-center
      font-normal
      text-neutral-600
      border border-transparent
      rounded
      transition
      ease-in-out
      m-0
      bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" name="group" id="group">

                <option disabled="disabled" selected="selected" class="text-center text-neutral-600"
       selected> ------ Select Group -------</option>
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                  <option value="4">4</option>
                  <option value="5">5</option>
                  <option value="6">6</option>
                  <option value="7">7</option>

              </select>
            </div>
<br>
    <input type="submit" id="submitBtn" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300"
           value="Filter Test Results by Group">
</form>



        <div>
            <div class="flex flex-col">
                <br>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 ">History</h5>
                <br>
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    


                    <div class="inline-block py-2 w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow-md sm:rounded-lg">
                            <table class="w-full">
                                <thead class="bg-gray-50">
                                    <tr>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            Child
                                    
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            Group
                                        </th>
                                        <th scope="col"

                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            Disease
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            Test

                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            Date
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase ">
                                            Result
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each testsFromDb}}

                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <td
                                            class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{this.testTaker.name}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{this.testTaker.group}}
                                        </td>
                                         <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{this.diseaseName}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{this.testName}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{prettifyDate this.dateTaken}}

                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap ">
                                            {{#if this.result}}
                                            <span
                                                class="bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded ">POSITIVE</span>
                                            {{else}}
                                            <span
                                                class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded">NEGATIVE</span>
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>

</section>