
<section>

    <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900">Latest News</h2> <br>
    {{!-- <div class="flex-row flex"> --}}
          <div class="grid grid-cols-3 gap-2 items-stretch">
        {{#each news}}

        <div
            class="p-6 w-full mx-6 bg-white rounded-lg border border-gray-200 shadow-md">

            <h6>{{prettifyDate createdAt}}</h6>

            <div>
                <h4 class="mb-2 text-2xl font-bold tracking-tight text-gray-900"> Group: {{group}}
                </h4>
            </div>
            <div>
                <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white"> {{headline}} </h3>

            </div>
            <div>
                <p class="mb-3 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400"> {{content}} </p>
            </div>
                   {{#if imageUrl}}
        <div>

            <button>
                <a href="{{imageUrl}}" target="_blank" download
                    class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                     Download
                    <svg class="ml-2 -mr-1 w-4 h-4" fill="currentColor" viewBox="0 0 20 20"
                        xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd"
                            d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z"
                            clip-rule="evenodd"></path>
                    </svg>
                </a>
                 {{!-- <a style="border: 1px solid red" href="{{imageUrl}}" target="_blank" download> Download more Info</a>  --}}
            </button> 



        </div>
        {{/if}}
        </div>
 

        {{/each}}
        

    </div>




</section>

<section style="margin: 15px 5px 50px 0px">
    <button>
        <a class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
            href="/admin/create-news">
            ADD NEWS </a>
    </button>
</section>

{{!-- <section>
 <option disabled="disabled" selected="selected" class="text-center text-neutral-600"
       selected> ------ Select Group -------</option>
                {{#each group}}
                  <option value="{{number}}">{{this.number}}</option>
                {{/each}}
              </select>
            </div> --}}

<form action="/admin" method="get">
    <div class="space-y-1">
        <label class="block text-sm font-medium text-neutral-600" for="dateTaken">Select Date of Test</label>

        <div class="relative">
            <div class="flex absolute inset-y-0 left-0 items-center pl-3 pointer-events-none">
                <svg class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20"
                    xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd"
                        d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z"
                        clip-rule="evenodd"></path>
                </svg>
            </div>
            <input id="datePicker" datepicker="" type="text" name="dateTaken"
                class="bg-gray-50 text-gray-900 px-5 py-3 text-base text-neutral-600 placeholder-gray-300 sm:text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500 datepicker-input"
                placeholder="Select date">
        </div>
    </div>
    <div class="space-y-1">
              <br>
              <label for="group" class="block text-sm font-medium text-neutral-600">Group</label>

              <select class="form-select appearance-none
      block
      w-full
      px-5
      py-3
      text-center
      font-normal
      text-neutral-600
      border border-transparent
      rounded
      transition
      ease-in-out
      m-0
      bg-gray-50 focus:outline-none focus:border-transparent focus:ring-2 focus:ring-white focus:ring-offset-2 focus:ring-offset-gray-300" name="group" id="group">
                            {{!-- <option disabled="disabled" selected="selected" class="text-center text-neutral-600"
       selected> ------ Select Group -------</option> --}}
                {{!-- {{#each diseases}} --}}
                  <option value="1">1</option>
                  <option value="2">2</option>
                  {{!-- <option value="{{this}}">{{this}}</option> --}}
                {{!-- {{/each}} --}}
              </select>
            </div>
<br>
    <input type="submit" class="inline-flex items-center py-2 px-3 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800"
           value="Filter Test Results by Date">
</form>



        <div>
            <br>
            <div class="flex flex-col">
                <br>
                <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">History</h5>
                <br>
                <div class="overflow-x-auto sm:-mx-6 lg:-mx-8">
                    


                    <div class="inline-block py-2 w-full sm:px-6 lg:px-8">
                        <div class="overflow-hidden shadow-md sm:rounded-lg">
                            <table class="w-full">
                                <thead class="bg-gray-50 dark:bg-gray-700">
                                    <tr>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                            Child
                                    
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                            Group
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                            Disease 
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                            Testname
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                            Date
                                        </th>
                                        <th scope="col"
                                            class="py-3 px-6 text-xs font-medium tracking-wider text-left text-gray-700 uppercase dark:text-gray-400">
                                            Result
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {{#each testsFromDb}}
                                    <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700">
                                        <td
                                            class="py-4 px-6 text-sm font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                            {{this.testTaker.name}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{this.testTaker.group}}
                                        </td>
                                         <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{this.diseaseName}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{this.testName}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{prettifyDate this.dateTaken}}
                                        </td>
                                        <td
                                            class="py-4 px-6 text-sm text-gray-500 whitespace-nowrap dark:text-gray-400">
                                            {{#if this.result}}
                                            <span
                                                class="bg-red-100 text-red-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-red-200 dark:text-red-900">POSITIVE</span>
                                            {{else}}
                                            <span
                                                class="bg-green-100 text-green-800 text-xs font-semibold mr-2 px-2.5 py-0.5 rounded dark:bg-green-200 dark:text-green-900">NEGATIVE</span>
                                            {{/if}}
                                        </td>
                                    </tr>
                                    {{/each}}
                                </tbody>
                            </table>
                        </div>
                    </div>
                    
                </div>
            </div>

</section>